* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f7fb;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  width: 40px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 15px;
  padding: 20px;
}

.card {
  padding: 20px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card:hover {
  transform: scale(1.03);
}

#pageContainer {
  padding: 20px;
}
